@model IEnumerable<TheShoeWebsite.Models.SubCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubCatId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubCatId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubCatId })
        </td>
    </tr>
}

</table>
